<div class="vark-test-container">
    <div class="vark-articles-container">
        <article>
            <p>
                El profesor Neil Fleming en colaboración con Collen Mills de la Universidad de Lincoln, en Nueva
                Zelanda,
                desarrollaron en el año 1992 una propuesta para clasificar a las personas de acuerdo a su preferencia en
                la
                modalidad sensorial a la hora de procesar información o contenidos educativos.
                Los autores consideran que las personas reciben información constantemente a través de los sentidos y
                que el
                cerebro selecciona parte de esa información e ignora el resto. Las personas seleccionan la información a
                la
                que le prestan atención en función de sus intereses, pero también influye cómo se recibe la
                información.
            </p>
            <p>
                Surgió un instrumento sencillo que mas que una herramienta de diagnóstico, pretendía ser un catalizador
                para
                la reflexión y análisis de "como aprendo mas rápido y mejor...", "¿en cuales condiciones?", a este
                instrumento se le denominó VARK que es el acrónimo de las cuatro letras iniciales correspondientes a las
                preferencias modales sensoriales (Sensorial, Aural, Read/Write, Kinesthetic por su siglas en inglés)
                (Visual, Auditivo, Lectura/Escritura y Quinestético), a continuación se describe cada una:
            </p>
        </article>
        <ul>
            <li><b>Visual (visual)</b>: preferencia por maneras gráficas y simbólicas de representar la información.
            </li>
            <li><b>Lectura - escritura (read/write)</b>: preferencia por información impresa en forma de palabras.</li>
            <li><b>Auditivo (aural)</b>: preferencia por escuchar la información.</li>
            <li><b>Quinestético (kinesthetic)</b>: preferencia perceptual relacionada con el uso de la experiencia y la
                práctica, ya sea real o simulada.
            </li>
        </ul>
        <article>
            <p>
                El "estilo de aprendizaje" de cada persona, es según la escuela de programación neurolinguistica (PNL)
                la manera preferida de cada uno tiene de captar, recordar, imaginar o enseñar un contenido determinado.
            </p>
            <p>
                El canal perceptual es por donde nos apropiamos de los contenidos (el ojo, el oído, boca, o el cuerpo en
                general)
            </p>
            <p>
                Cuando uno estudia el aprendizaje se ve afectado por múltiples factores, desde características
                ambientales (como la luz, la temperatura o el ruido) hasta rasgos emocionales (como la motivación y la
                responsabilidad). El "estilo de aprendizaje" de cada persona, es según la escuela de programación
                neurolinguistica (PNL) la manera preferida que cada uno tiene de captar, recordar, imaginar o enseñar un
                contenido determinado.
            </p>
            <p>
                A continuación se presenta una lista de estrategias de Estudio sin Esfuerzo (ESE) de acuerdo a los
                cuatro tipos de estilos de aprendizaje de este modelo:
            </p>
            <ol style="background-color: #2E294E; border-radius: 10px; padding: 10px; font-size: 1rem">
                <li>Visual
                    <ul>
                        <li>Libros con Diagramas y dibujos</li>
                        <li>Usar símbolos</li>
                        <li>Subrayar</li>
                        <li>Diagramas de flujo</li>
                        <li>Mapas mentales</li>
                        <li>Imágenes, videos</li>
                    </ul>
                </li>
                <li>Aural</li>
                <li>Lector</li>
                <li>Kinestetico</li>
            </ol>
        </article>
        <!-- remove <br>!!-->
        <br>
        <button class="take-test-section" routerLink="/vark-form" mat-raised-button>
            TOMAR TEST!
        </button>
    </div>
</div>
