<div class="login-container">
    <div class="login-first-card">
        <div class="login-second-card">
            <h2>Iniciar Sesión</h2>
            <form>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text">
                    <button matSuffix mat-icon-button aria-label="email">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="text">
                    <button matSuffix mat-icon-button aria-label="password">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-flat-button color="primary">Entrar</button>
            </form>
        </div>
    </div>
</div>
