<div [formGroup]="this.personalityFormRef">
    <div [formGroupName]="getTopicFormGroupName()">
        <p>{{ TOPIC }}</p>
        <div [formGroup]="tableDataFormRef" class="sub-tables-section">
            <div formGroupName="firstPersonality" class="first-personality-table">
                <table [dataSource]="this.tableData.firstPersonalityCharacteristics"
                       mat-table class="mat-elevation-z8">
                    <ng-container matColumnDef="personality">
                        <th mat-header-cell *matHeaderCellDef> {{ this.tableData.firstPersonality | titlecase }}</th>
                        <td mat-cell *matCellDef="let element"> {{ element.characteristic }}</td>
                    </ng-container>
                    <ng-container matColumnDef="points">
                        <td mat-cell *matCellDef="let element">
                            <mat-slider min="0" max="10" step="1">
                                <input matSliderThumb (input)="onSliderInput($event, element)"
                                       [formControlName]="getFirstPersonalityCharacteristicsControlName(element)">
                            </mat-slider>
                            {{ getFirstPersonalityPoints(element) }}
                        </td>
                        <th mat-header-cell *matHeaderCellDef> Puntos</th>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div>
                    <input type="hidden" formControlName="total">
                    {{ getFirstPersonalityTotalPoints() }}
                </div>
            </div>
            <div formGroupName="secondPersonality" class="second-personality-table">
                <table [dataSource]="this.tableData.secondPersonalityCharacteristics"
                       mat-table class="mat-elevation-z8">
                    <ng-container matColumnDef="personality">
                        <th mat-header-cell *matHeaderCellDef> {{ this.tableData.secondPersonality | titlecase }}</th>
                        <td mat-cell *matCellDef="let element"> {{ element.characteristic }}</td>
                    </ng-container>
                    <ng-container matColumnDef="points">
                        <td mat-cell *matCellDef="let element">
                            <input type="hidden"
                                   [formControlName]="getSecondPersonalityCharacteristicsControlName(element)">
                            {{ getSecondPersonalityPoints(element) }}
                        </td>
                        <th mat-header-cell *matHeaderCellDef> Puntos</th>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div>
                    {{ getSecondPersonalityTotalPoints() }}
                </div>
            </div>
        </div>
    </div>
</div>
