<div class="personality-test-container">
    <div class="personality-articles-container">
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores ea incidunt nihil placeat
                possimus quaerat! Ab beatae blanditiis, cum cupiditate dolore dolorum eligendi eos impedit incidunt ipsa
                iure molestias nihil pariatur placeat, quod rem ut voluptatum. Beatae dolore impedit nisi optio quasi
                sint tenetur! Aut eos in maxime quam recusandae voluptatibus. Architecto dolores officia optio! Alias
                autem cupiditate ea ipsam placeat porro vel. Accusantium animi architecto assumenda at consectetur
                consequatur debitis dicta distinctio earum esse et ex exercitationem libero necessitatibus odit possimus
                quam quas quibusdam quidem ratione, rerum sunt tempora voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae consequuntur culpa delectus error eum
                ex fuga harum ipsam ipsum laboriosam magnam maiores maxime minima molestias pariatur quidem saepe
                sapiente, sint velit veniam veritatis vitae! Animi at, cum deserunt eos illo labore nulla quo recusandae
                vero! Debitis illum, natus odit officia reiciendis repellat sint suscipit ullam! Ad cumque, deleniti
                dolorem impedit ipsa nam nisi non, placeat possimus quaerat quod suscipit, ullam voluptatum. Aliquam
                atque dolorem est, excepturi facilis fugiat illum, incidunt maiores perferendis qui, rem sed sit tempora
                voluptate voluptatum. Eaque, eos maxime minus officia quis quo recusandae repellat ut.</p>
        </article>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur eaque eveniet ipsa magnam
            natus praesentium ratione. A aliquid aspernatur at autem consectetur consequatur cum, dolore dolores dolorum
            ea facere facilis ipsa ipsam minima nesciunt non nulla officiis perferendis quisquam quos rem soluta sunt
            suscipit ut velit voluptates voluptatibus. Sunt.
        </article>
        <!-- remove <br>!!-->
        <br>
        <button class="take-test-section" routerLink="/personality-form"
                mat-raised-button color="primary">
            TOMAR TEST!
        </button>
    </div>
</div>
